@page "/login"
@using PopugJira.Services
@using PopugJira.Models

@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h1>Login</h1>

@if (showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Login</label>
                <InputText Id="email" Class="form-control" @bind-Value="loginModel.Login" />
                <ValidationMessage For="@(() => loginModel.Login)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel loginModel = new LoginModel();
    private bool showErrors;
    private string error = "";

    private async Task HandleLogin()
    {
        showErrors = false;

        var result = await AuthService.Login(loginModel.Login, loginModel.Password);

        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            error = result.Error;
            showErrors = true;
        }
    }

}