@using PopugJira.Domain
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name!
                    You earned today: @EarnedToday.ToString("C2")
                    <a href="logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="register">Register</a>
                    <a href="login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@inject IHttpClientFactory httpClientFactory
@inject AuthenticationStateProvider authenticationStateProvider
@code {
    private HttpClient http;
    
    private decimal EarnedToday { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        http = httpClientFactory.CreateClient("accounting");
        var auth = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (auth.User?.Identity?.IsAuthenticated ?? false)
        {
            Console.WriteLine($"Authenticated as: {auth.User.Identity.Name}");
            await LoadCurrentAccountBalance();
        }
    }

    private async Task LoadCurrentAccountBalance()
    {
        var accountingInfosForToday = await http.GetFromJsonAsync<AccountingInfoItem[]>("api/v1/accounting/today");
        if (accountingInfosForToday is not null)
        {
            EarnedToday = accountingInfosForToday.Sum(o => o.Amount);
        }
    }
}